.caro{
    width: 100%;
    height: 416px;
    background-color: #912323;
}
.left{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   box-shadow: #652D90;
}
.d-block{
    object-fit: cover;
    height: 800px;
}
@media (max-width: 768px){
    .d-block{
        object-fit: cover;
        height: 700px;
    }
}